# Specify a directory to be used for storing the database
DB_DIR=/a/directory
# Location to upload the data
UPLOAD_URL="http://192.168.1.1/upload"
# Config directory
CONFIG_DIR=/home/me/.nqrc

#INTERFACE_wan=ethwan
#INTERFACE_wlanmon=ethwlanmon
#INTERFACE_lanmon=ethlanmon
